.image-bubble {
    max-width: fit-content;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    font-size: 14px;
    word-wrap: break-word;
    background-color: #e1f5fe;
    align-self: flex-start;
    border: 1px solid #b3e5fc;
    color: #0277bd;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  